<?xml version="1.0"?>
<launch>
<!-- general parameters definition -->
  <!-- Robot deginition -->
  <arg name="model" default="$(find exp_assignment3)/urdf/Pet/robot.xacro" />

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <!-- Load the move_base launcher with its parameters -->

    <arg name="des_x" default= "0.0"/>
    <arg name="des_y" default= "0.0"/>
    <param name="des_pos_x" value="$(arg des_x)" />
    <param name="des_pos_y" value="$(arg des_y)" />
		<param name="state" value="0" />
    
    <include file="$(find exp_assignment3)/launch/move_base.launch"></include> -

	
<!-- Start the assignment implementation -->
  <node name="gmappping" pkg="exp_assignment3" type="gmapping_muting.sh" /> <!-- Launch gmapping in a secondary tab to avoid showing its output in the main shell --> 
  <include file="$(find exp_assignment3)/launch/simulation.launch"/> <!-- launch gazebo and initialize the simulation environment -->
  <include file="$(find exp_assignment3)/launch/rviz.launch"/> <!-- launch rviz -->

 

<!-- Start the robot behaviors -->
<node name="perception" pkg="exp_assignment3" type="Perception.py" /> <!-- Perception node of the robot -->

</launch>	
